<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>key</key>
			<string>_Loc_Avatar</string>
			<key>class</key>
			<string>SettingsCell</string>
			<key>identifier</key>
			<string>SettingAvatarCell</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>key</key>
			<string>_Loc_Name</string>
			<key>class</key>
			<string>SettingCellWithTextField</string>
			<key>identifier</key>
			<string>SettingCellWithTextField</string>
			<key>jsonKey</key>
			<string>realname</string>
		</dict>
		<dict>
			<key>key</key>
			<string>_Loc_BiDate</string>
			<key>class</key>
			<string>SettingsCell</string>
			<key>identifier</key>
			<string>SettingCell</string>
			<key>jsonKey</key>
			<string>birthday</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>key</key>
			<string>_Loc_Country</string>
			<key>class</key>
			<string>SettingsCell</string>
			<key>identifier</key>
			<string>SettingCell</string>
			<key>jsonKey</key>
			<string>place_country</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>key</key>
			<string>_Loc_About</string>
			<key>class</key>
			<string>SettingCellWithTextField</string>
			<key>identifier</key>
			<string>SettingCellWithTextField</string>
			<key>jsonKey</key>
			<string>about</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>key</key>
			<string>_Loc_ChangePassword</string>
			<key>class</key>
			<string>SettingsCell</string>
			<key>identifier</key>
			<string>SettingCell</string>
		</dict>
		<dict>
			<key>key</key>
			<string>_Loc_Logout</string>
			<key>class</key>
			<string>SettingsCell</string>
			<key>identifier</key>
			<string>SettingCell</string>
		</dict>
	</array>
</array>
</plist>
